@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Kosugi+Maru|M+PLUS+Rounded+1c|Noto+Sans+JP|Poppins|Sawarabi+Mincho&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", "Kosugi Maru", "M PLUS Rounded 1c", "Noto Sans Japanese", sans-serif;
  font-weight: 300;
}

html {
  padding: 0;
  margin: 0;
}

body {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "pages" "ball" "news" "time";
  -ms-grid-rows: 1fr 36px 36px 32px;
      grid-template-rows: 1fr 36px 36px 32px;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  gap: 6px;
}

body div.dateCon {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: time;
  width: 100%;
  height: 32px;
  padding: 0 8px;
  font-size: calc(32px / 1.5);
  text-align: right;
}

body div.dateCon p {
  display: inline-block;
  margin: 0 8px;
}

body div.pages {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: pages;
}

body div.pages div.page {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

body div.pages div.page.showing {
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". . ." ". . .";
  -ms-grid-rows: (48%)[2];
      grid-template-rows: repeat(2, 48%);
  -ms-grid-columns: (calc(98% / 3))[3];
      grid-template-columns: repeat(3, calc(98% / 3));
  width: 100%;
  height: 100%;
  padding: 1%;
  gap: 1%;
}

body div.pages div.page.showing div.section {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "cls cls" "shop shop" "time ico";
  -ms-grid-rows: 10% 40% 48%;
      grid-template-rows: 10% 40% 48%;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
  padding: 8px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 10px 0 #aaa;
          box-shadow: inset 0 0 10px 0 #aaa;
  gap: 1%;
  --size: calc(((100vh - 122px) * 0.48) / 1.5);
}

body div.pages div.page.showing div.section p {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

body div.pages div.page.showing div.section p.cls {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: cls;
  font-size: calc(var(--size) * 0.10);
}

body div.pages div.page.showing div.section p.shop {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: shop;
  font-size: calc(var(--size) * 0.15);
  white-space: pre-wrap;
}

body div.pages div.page.showing div.section p.time {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: time;
  font-size: calc(var(--size) * 0.30);
}

body div.pages div.page.showing div.section p.time::after {
  display: block;
  margin-right: 20px;
  font-size: calc(var(--size) * 0.10);
  text-align: right;
  content: "分待ち";
}

body div.pages div.page.showing div.section div.icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: ico;
  width: 100%;
  height: 100%;
  gap: 12px;
  --row: calc(var(--size) * 0.30);
  --col: calc(var(--size) * 0.19);
}

body div.pages div.page.showing div.section div.icons div:nth-child(1) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: i1;
}

body div.pages div.page.showing div.section div.icons div:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: i2;
}

body div.pages div.page.showing div.section div.icons div:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: i3;
}

body div.pages div.page.showing div.section div.icons div:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: i4;
}

body div.pages div.page.showing div.section div.icons div:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: i5;
}

body div.pages div.page.showing div.section div.icons[data-num="1"] {
      grid-template-areas: ". . ." ". i1 ." ". . .";
  -ms-grid-rows: 1fr var(--row) 1fr;
      grid-template-rows: 1fr var(--row) 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

body div.pages div.page.showing div.section div.icons[data-num="2"] {
      grid-template-areas: ". ." "i1 i2" ". .";
  -ms-grid-rows: 1fr var(--row) 1fr;
      grid-template-rows: 1fr var(--row) 1fr;
  -ms-grid-columns: 1fr  1fr;
      grid-template-columns: 1fr  1fr;
}

body div.pages div.page.showing div.section div.icons[data-num="3"] {
      grid-template-areas: ". . . . ." "i1 i1 . i2 i2" ". i3 i3 i3 ." ". . . . .";
  -ms-grid-rows: 1fr var(--row) var(--row) 1fr;
      grid-template-rows: 1fr var(--row) var(--row) 1fr;
  -ms-grid-columns: 2fr 1fr 1fr 1fr 2fr;
      grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
}

body div.pages div.page.showing div.section div.icons[data-num="4"] {
      grid-template-areas: ". ." "i1 i2" "i3 i4" " . .";
  -ms-grid-rows: 1fr var(--row) var(--row) 1fr;
      grid-template-rows: 1fr var(--row) var(--row) 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

body div.pages div.page.showing div.section div.icons[data-num="5"] {
      grid-template-areas: ". . . . . ." "i1 i1 i2 i2 i3 i3" ". i4 i4 i5 i5 ." ". . . . . .";
  -ms-grid-rows: 1fr var(--row) var(--row) 1fr;
      grid-template-rows: 1fr var(--row) var(--row) 1fr;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

body div.pages div.page.showing div.section div.icons img {
  display: block;
  width: var(--col);
  max-width: 100%;
  height: var(--col);
  padding: 3px;
  margin: auto;
  border-radius: 30%;
  -webkit-box-shadow: 0 0 5px 0 #aaa;
          box-shadow: 0 0 5px 0 #aaa;
}

body div.pages div.page.showing div.section div.icons img[data-status="op"] + p::before {
  color: #080;
  content: "販売中";
}

body div.pages div.page.showing div.section div.icons img[data-status="sh"] + p::before {
  color: #ea0;
  content: "品薄";
}

body div.pages div.page.showing div.section div.icons img[data-status="so"] + p::before {
  color: #e00;
  content: "品切れ";
}

body div.pages div.page.showing div.section div.icons img[data-status="no"] + p::before {
  color: #080;
  content: "営業中";
}

body div.pages div.page.showing div.section div.icons img[data-status="pa"] + p::before {
  color: #ea0;
  content: "休憩中";
}

body div.pages div.page.showing div.section div.icons img[data-status="en"] + p::before {
  color: #e00;
  content: "終了";
}

body div.pages div.page.showing div.section div.icons p {
  display: block;
  margin: 0;
  font-size: 1.3em;
  text-align: center;
}

body div.pages div.page.showing.pr1 {
      grid-template-areas: ". . ." ". i ." ". . .";
  -ms-grid-rows: 1fr max-content 1fr;
      grid-template-rows: 1fr -webkit-max-content 1fr;
      grid-template-rows: 1fr max-content 1fr;
  -ms-grid-columns: 1fr max-content 1fr;
      grid-template-columns: 1fr -webkit-max-content 1fr;
      grid-template-columns: 1fr max-content 1fr;
  --size: calc(((100vh - 122px)));
}

body div.pages div.page.showing.pr1 .container {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: i;
  font-size: calc(var(--size) * 0.05);
}

body div.scrollBall {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: ball;
  width: 100%;
  height: 100%;
}

body div.scrollBall div.bContainer {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  margin: auto;
}

body div.scrollBall div.bContainer div.ball {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 8px 8px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 4px 0 #666;
          box-shadow: 0 0 4px 0 #666;
  -webkit-transition: 1s;
  transition: 1s;
}

body div.scrollBall div.bContainer div.ball.showing {
  background-color: #aaa;
}

body p.marquee {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: news;
  width: 100%;
  height: 36px;
  font-size: 24px;
  display: inline-block;
  margin: 0;
  overflow-x: hidden;
  -webkit-animation: marquee_anime 15s linear infinite;
          animation: marquee_anime 15s linear infinite;
}

@-webkit-keyframes marquee_anime {
  0% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
  100% {
    -webkit-transform: translate(-10%, 0);
            transform: translate(-10%, 0);
  }
}

@keyframes marquee_anime {
  0% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
  100% {
    -webkit-transform: translate(-10%, 0);
            transform: translate(-10%, 0);
  }
}
/*# sourceMappingURL=main.css.map */